<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
    /* body {font-size: calc(0.5em + 1vw);} */
    img {
      max-width: 100%;
      height: auto;
    }
  </style>
  <base href="/test-html/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{title}}</title>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
