<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/test-html/">
  <link href="css/main.css" rel="stylesheet">
  <title>{{title}}</title>
</head>
<body>
    <div class="header">
      <div class="container">
        <div class="column">
          <h2>The John Muir Trail</h2>
        </div>
        <div class="column">
          Jump to Page:
          <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>        </div>
      </div>
    </div>
    <div class="content centerBox">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
