img.photo {
  max-width: 100%;
  height: auto;
}

.center {
     text-align: center;
}

.centerBox {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.content {
    max-width: 50em;
}

.subtitle {
    margin-top: .1em;
}

.withSubtitle {
    margin-bottom: .1em;
}
